html {
  font-size: 150%;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.4;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}
.calculator__display {
  background-color: #1f2933;
  color: #fff;
  width: 16.25rem;
  padding: 0.72rem 1rem;
  text-align: right;
  font-size: calc(1rem * 1.2 * 1.2);
}
.calculator__keys {
  box-sizing: border-box;
  background-color: rgb(231, 231, 231);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
}
.calculator__keys button {
  cursor: pointer;
}
.calculator__keys button:focus {
  background-color: rgb(191, 200, 201);
  border: 0;
}
.one {
  grid-area: one;
  height: 40px;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
  height: 40px;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
  height: 40px;
}
.eight {
  grid-area: eight;
}
.zero {
  grid-area: zero;
  height: 40px;
}
.nine {
  grid-area: nine;
  height: 40px;
}
.equal {
  grid-area: equal;
  background-color: #f9703e;
  border: 0;
}
.decimal {
  grid-area: decimal;
}
.plus,
.times,
.divide,
.minus {
  height: 40px;
}

@media (max-width: 800px) {
  .calculator__display {
    width: auto;
  }
  .container {
    width: 100%;
  }
}
